.sacola {
	background-image: url(../img/sacola.png);
	background-repeat:no-repeat;
	background-position: top right;

	font-size:14px;
	padding-right:35px;
	text-align:right;
	width:140px;
	padding-top:8px;
	position:absolute;
	top:0px;
	right:0px;
}

.painel h2 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-botton: 10px;
}

.painel a {
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

footer{
	background-image: url(../img/fundo-rodape.png);
}


social a {
	height: 32px;
	width: 32px;
	display: block;
	
}
.novidades {
	background-color:#f5dcdc;
}

.mais-vendidos {
	backgroud-color: #dcdcdc;
}

.menu-opcoes ul { 
	font-size:15px; 
}

.destaque { margin-top: 10px; }

.painel {
	margin:10px 0;
	padding: 10px;
	width: 445px;
}

.novidades { float: left; }
.mais-vendidos { float: right;}

.menu-opcoes ul li {
	display:inline;
	margin-left:0px;
}

.menu-opcoes a  { 
	color:#003366; 
}

body { 
color: #333;
font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}

.menu_departamentos {
	clear:left;
}

.container {
	margin: 0 auto;
	width: 940px;
}

header {
	position:relative;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
	margin: 10px;
}

.menu-departamentos li {
	background-color: white;
	margin-bottom:1px;
	padding:5px 10px;
}

.busca input[type=search]{
	width:170px;
}
